<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>496424988002-kge6pep0hhn6apv06rcunqnug9j89nv8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.496424988002-kge6pep0hhn6apv06rcunqnug9j89nv8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>496424988002-dedd03911p0votmuh270bvaio5qp72ji.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC57fUXDEfaSQPz1Ul4gHgkEXPMVd6QVE8</string>
	<key>GCM_SENDER_ID</key>
	<string>496424988002</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.noteApp</string>
	<key>PROJECT_ID</key>
	<string>exam-db668</string>
	<key>STORAGE_BUCKET</key>
	<string>exam-db668.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:496424988002:ios:e3d6f9ca37669327cf103b</string>
</dict>
</plist>